// Place all the styles related to the CarSimulator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-image: url("Road.jpg");
    background-size: cover;
    font-size: 20pt;
    font-family: 'Cinzel', serif;


}

h1 {
  text-align: center;

}

.car_form {
  margin-left: 30%;
  font-family: fantasy;
  color: black;


}

.new_car {
  margin-left: 45%;
  font-family: fantasy;
  font-size: 18pt;
  color: black;

}
