<h1>Welcome to the Car Simulator</h1>
<hr/>
<br/>
<form action="car_simulator/create" method="get">
  <label for="year_id">Year:</label>
  <input type="number" name="year" id="year_id"/>
  <label for="make_id">Make:</label>
  <input type="text" name="make" id="make_id"/>
  <input type="submit" value="Start">
</form>
